body {
    background-color: #000E30;
  }
  .Page {
    display: flex;
    justify-content:space-around;
    
  }
  .pageimage {
    margin: 5% 5%;
  

  }
  .img{

    width: 100%;
    height: auto;
    

  }
  .pagetext {
    color: white;
    margin: 5% 6%;

    width: 1000px;
  }
  p{
    text-align: justify;
    font-size: 20px;

  }
  #heading{
    color: #D51384;
    font-size: 50px;
  }
  .btn2{
    padding: 12px 22px;
    background-color:#000E30;
    color: white;
    border: solid #D51384 ;
    font-weight: bold;
    font-size: medium;
   
  }
